:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #ff57a3;
    --botao-azul: #fec9df;
    --cor-de-fundo: #FFACCA;
    --fonte-principal: 'Sour+Gummy';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cinza-secundario);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cinza-secundario)
}